@page
@model MusicStreaming.Pages.Artistas.IndexModel

<h1>Lista de Artistas</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Qtd. de Músicas</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var artista in Model.Artistas)
        {
            <tr>
                <td>@artista.Nome</td>
                <td>@artista.Sobrenome</td>
                <td>@(artista.Musicas?.Count ?? 0)</td>
            </tr>
        }
    </tbody>
</table>
