@{
    ViewData["Title"] = "Home";
}

<h1>🎵 Bem-vindo ao MusicStreaming</h1>
<p>Escolha uma opção:</p>
<a href="/Artistas" class="btn btn-primary">Artistas</a>
<a href="/Musicas" class="btn btn-success">Músicas</a>
